html{
    background-color: rgb(65, 65, 65);
    font-family: sans-serif;
}

div.main{
    font-family: sans-serif;
    border: 2px solid rgb(187, 53, 0);
    border-radius: 10px;
    background: rgb(44, 44, 44);
    color: white;
    width: 25%;
    padding: 15px;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 5%;
}

table{
    color: whitesmoke;
    padding: 10px;
}

td,tr{
    padding: 10px;
}

input{
    background-color: rgb(44, 44, 44);
    border: none;
    border-bottom: 2px solid rgb(122, 122, 122);
    color: rgb(122, 122, 122);
}

input:hover{
    border-bottom: 2px solid rgb(187, 53, 0);
    transition: .2s ease;
}

textarea{
    background-color: rgb(44, 44, 44);
    border: 2px solid rgb(122, 122, 122);
    border-radius: 5px;
    color: rgb(122, 122, 122);
    resize: none;
}

textarea:hover, textarea:focus{
    border: 2px solid rgb(187, 53, 0);
    transition: .2s ease;
}

button{
    text-align: center;
    border-radius:5px;
    background-color: rgb(44, 44, 44);
    padding: 5px;
    color: white;
    border: 2px solid rgb(122, 122, 122);
    position: relative;
    width: 25%;
    bottom: 5px;
    left: 25%;
}
button:hover{
    color: rgb(187, 53, 0);
    border: 2px solid rgb(187, 53, 0);
    transition: .5s ease;
}